.fixed {
  position: fixed;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.z-50 {
  z-index: 50;
}

.pointer-events-none {
  pointer-events: none;
}

.w-80 {
  width: 20rem; /* 320px */
}

.h-80 {
  height: 20rem; /* 320px */
}

.teto-corner {
  height: 550px;
  bottom: -20%;
  left: 0%;
  z-index: 40;
  pointer-events: none;
}
@media (min-width: 800px) {
  .teto-background{
    pointer-events: none;
  }
}

* {
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
